body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/*Header and navigation styling*/
.header-text-and-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  padding: 50px;
  margin: auto;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
  color: black;
}

.avatar {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b1a296;
  border-style: solid;
  border-color: black;
  border-top: none;
  color: black;
}

header nav ul li {
  display: inline-block;
  padding: 20px 20px;
  background-color: #b1a296;
  margin: 0;
}

.about-me {
  display: block;
  height: 30%;
  width: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
}

.my-work {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
}

/*large container styles project 1*/
.large-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-style: solid;
  border-color: black;
}

/*small container styles project 2, 3, 4, 5.*/
.small-container {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  vertical-align: bottom;
  border-style: solid;
  border-color: black;
}

.individual-small-boxes {
  position: relative;
  flex: 40%;
  padding: 0;
  height: 25%;
  width: 25%;
  margin-right: auto;
  margin-bottom: 0;
  vertical-align: bottom;
}

.contact-information {
  display: block;
  height: 30%;
  width: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
}

/*small text under project images*/
.small-text-box {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  vertical-align: bottom;
  color: black;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }

  .small-container {
    display: flex;
    flex-direction: column;
  }

  .individual-small-boxes {
    flex: 100%;
    width: 100%;
    height: 100px;
  }
}
