body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  padding: 50px;
  margin: auto;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
  color: black;
}

.avatar {
  background-image: url(../images/avatar-generations_hugw.jpg);
  display: block;
  width: 100px;
  height: 100px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b1a296;
  border-style: solid;
  border-color: black;
  border-top: none;
  color: black;
}

header nav ul li {
  display: inline-block;
  padding: 20px 20px;
  background-color: #b1a296;
  margin: 0;
}

.about-me {
  display: block;
  height: 30%;
  width: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
}

.my-work {
  display: block;
  height: 30%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
  background-color: #b1a296;
}

.large-container {
  display: block;
  position: relative;
  height: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-style: solid;
  border-color: black;
  line-height: 0;
}

.small-container {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  width: 100%;
}

.individual-small-boxes {
  flex: 25%;
  padding: 0;
  height: 25%;
  width: 25%;
  margin-right: auto;
}

.contact-information {
  display: block;
  height: 30%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-style: solid;
  border-color: black;
}
.small-text-box {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
  color: black;
  padding: 20px;
}
